<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-4" id="deleteCard1" >
                    <div class="card card-stats" style="font-size:1.2rem">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                               <i class="fa fa-database fa-2x"></i> 
                            </div>
                            <h2 class="card-title">Hubble Dr                  
                            </h2>
                            <p class="card-category">SQL Server 2016 SP1+ </p>
                        </div>  
                        <hr style="width: 100%; color:#9124a3;; height: 0.5px; background-color:#9124a3;;" />                
                        <div>
                           <ul class="list-group fa-ul">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Response Time<span class="fa-li" style="top:auto">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                  15ms
                                </li>
                              <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                Response Time
                                <span> {{idatabaseServers.metrics.responseTimeInMilliseconds}}ms</span>
                              </li> -->
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                User Sessions 
                               <span class="fa-li" style="top:auto">
                                    <i class="fa fa-user" aria-hidden="true"></i></span>
                                    185
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                               SQL CPU Usage                               
                               <span class="fa-li" style="top:auto">
                              <i class="far fa-hdd" aria-hidden="true"></i></span>39%
                                </li>
                               <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                    <div class="progress-bar" role="progressbar"                                   
                                    aria-valuenow="39"
                                    style="width: 39" 
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> 
                                 
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                SQL Memory Usages/Allocated                                  
                              
                               <span> 61%</span> </li>
                               <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                  <div class="progress-bar" role="progressbar"                                   
                                  aria-valuenow="61"
                                  style="width: 61%" 
                                  aria-valuemin="0" aria-valuemax="100"></div>
                                </div> 
                               
                               <li class="list-group-item d-flex justify-content-between align-items-center">
                                    SQL Disk I/O                                      
                                   
                                   <span> 24%</span></li>
                                   <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                        <div class="progress-bar" role="progressbar"                                   
                                        aria-valuenow="24"
                                        style="width: 24%" 
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                      </div> 
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                            SQL Disk I/O Value
                                            <span>3456/4326</span>
                                           </li>
                            </ul>
                      </div>
                      <div class="card-footer">
                          <button routerLink="/serverDetails"style="font-size:1rem" class="btn btn-primary">Read More</button>
                          <button class="btn btn-danger" style="font-size:1rem" data-toggle="modal" data-target="#deleteModal">Delete</button>
                          
                          <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            <div class="form-group">
                                    <h4 >Are you sure you want to delete?</h4>
                                    
                                  </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "myClickFunction()">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      <!--delete confirm popup-->
      <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <form>
                              <div class="form-group">
                                      <h4 >Are you sure you want to delete?</h4>
                                      
                                    </div>
                            </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "myClickFunction()">Confirm</button>
              </div>
            </div>
          </div>
        </div>
                      </div>
                    </div>
                </div>
            <div class="col-md-4" *ngFor="let idatabaseServers of idatabaseServers">
                    <div class="card card-stats" style="font-size:1.2rem">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                               <i class="fa fa-database fa-2x"></i> 
                            </div>
                            <h2 class="card-title">{{idatabaseServers.displayName}}                       
                            </h2>
                            <p class="card-category">{{ idatabaseServers.metrics.serverVersion }} </p>
                        </div>  
                        <hr style="width: 100%; color:#9124a3;; height: 0.5px; background-color:#9124a3;;" />                
                        <div>
                           <ul class="list-group fa-ul">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                Response Time<span class="fa-li" style="top:auto">
                                  <i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                  {{idatabaseServers.metrics.responseTimeInMilliseconds}}ms
                                </li>
                              <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                Response Time
                                <span> {{idatabaseServers.metrics.responseTimeInMilliseconds}}ms</span>
                              </li> -->
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                User Sessions 
                               <span class="fa-li" style="top:auto">
                                    <i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{idatabaseServers.metrics.usersSessionsCount}} 
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                               SQL CPU Usage                               
                               <span class="fa-li" style="top:auto">
                              <i class="far fa-hdd" aria-hidden="true"></i></span> {{idatabaseServers.metrics.sqlcpuUsagePercentage}}%
                                </li>
                               <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                    <div class="progress-bar" role="progressbar"                                   
                                    [attr.aria-valuenow]="idatabaseServers.metrics.sqlcpuUsagePercentage" 
                                    [style.width]="idatabaseServers.metrics.sqlcpuUsagePercentage + '%'" 
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> 
                                 
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                SQL Memory Usages/Allocated                                  
                              
                               <span> {{idatabaseServers.metrics.sqlMemoryUsagePercentage}}%</span> </li>
                               <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                  <div class="progress-bar" role="progressbar"                                   
                                  [attr.aria-valuenow]="idatabaseServers.metrics.sqlMemoryUsagePercentage" 
                                  [style.width]="idatabaseServers.metrics.sqlMemoryUsagePercentage + '%'" 
                                  aria-valuemin="0" aria-valuemax="100"></div>
                                </div> 
                               
                               <li class="list-group-item d-flex justify-content-between align-items-center">
                                    SQL Disk I/O                                      
                                   
                                   <span> {{idatabaseServers.metrics.sqlDiskIOPercentage}}%</span></li>
                                   <div class="progress" style="margin-left:1%;margin-right:1%;height:0.4rem">
                                        <div class="progress-bar" role="progressbar"                                   
                                        [attr.aria-valuenow]="idatabaseServers.metrics.sqlDiskIOPercentage" 
                                        [style.width]="idatabaseServers.metrics.sqlDiskIOPercentage + '%'" 
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                      </div> 
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                            SQL Disk I/O Value
                                            <span>{{idatabaseServers.metrics.sqlDiskIOValue}}/{{idatabaseServers.metrics.sqlDiskIOTotal}}</span>
                                           </li>
                            </ul>
                      </div>
                      <div class="card-footer">
                          <button routerLink="/serverDetails"style="font-size:1rem" class="btn btn-primary">Read More</button>
                          <button class="btn btn-danger" style="font-size:1rem" data-toggle="modal" data-target="#deleteModal">Delete</button>
                          
                          <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            <div class="form-group">
                                    <h4 >Are you sure you want to delete?</h4>
                                    
                                  </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
                      </div>
                    </div>
                </div>           
  </div>
</div>
